.document {
  max-width: 785px;
  padding-right: 32px;
}

.document-header-container {
  border-bottom: 1px solid var(--border-grey);
  padding-bottom: 32px;
  margin-bottom: 32px;
}

.document-header-content {
  border-left: 2px solid rgb(188, 106, 157);
  padding-left: 32px;
}

.document-header {
  font-size: 32px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 8px;
}

.last-modified {
  font-size: 12px;
  color: #9daab6;
}

.markdown-list {
  display: grid;
  row-gap: 8px;
  padding-left: 16px;
}
